html {
    font-size: 100%;
}

ul {
    list-style-type: none;
}

/*  app name section starts */
.app-name {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

.app-name--item {
    margin: 0px 2rem;
    text-align: left;
}


/* app name section ends */


/* login form section starts */

.form-title {
    font-size: 1.4rem;
    color: #adb5bd;
}

.login-form-section {
    width: 70%;
    margin: 0 auto;
}

.login-btn {
    background-color: orangered;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 50%;
}

/* login form section ends */


/* Page bar starts */

.page-bar .username {
    display: flex;
}

.page-bar .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: #6c757d;
    margin-right: 8px;
}

/* Page bar ends */


/* menu list starts */
.menu-list a {
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
}

/* menu list ends */

/* left panel starts */
.left-panel {
    height: calc(100% - 10%);
    width: 12rem;
    position: fixed;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.left-panel .list-group-item {
    border-bottom: 1px solid black;
    border-radius: 0;
}

.copyright {

}

.logout-btn {
    background-color: transparent;
    color: black;
    width: 100%;
}

/* left panel ends */

.data-section {
    margin: 0 10px;
}

/* right panel starts */

.right-panel .item {
    padding: 20px 0;
}

.right-panel .account-and-add-button button {
    width: 30%;
}

.right-panel .buttons {
    border: 1px solid black;
    padding: 10px 0;
}

/* right panel ends */