<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head th:include="baseLayout :: head">
    <title>LOGIN</title>
</head>
<body>
<section class="data-section">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="navbar page-bar">
                <p>Feel Good Fund</p>
                <p>Account Type &nbsp; ADMIN/EMPLOYEE</p>
                <div class="username">
                    <p class="profile-icon"></p>
                    <p class="name" th:text="${user.username}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 g-0">
                <div class="left-panel d-flex flex-column justify-content-between">
                    <ul class="list-group menu-list">
                        <li class="list-group-item item list-group-item-action"><a th:href="@{/home}">Dashboard</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="" data-bs-toggle="modal"
                                                                                   data-bs-target="#budgetModal">Budget</a>

                        </li>
                        <li class="list-group-item item list-group-item-action"><a href="">History</a></li>
                        <li class="list-group-item item list-group-item-action"><a th:href="@{/about}">About</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">
                            <form th:action="@{/logout}" method="post" class="d-flex justify-content-start">
                                <input type="submit" value="Sign out" class="btn btn-light logout-btn">
                            </form>
                        </a></li>
                    </ul>
                    <div class="copyright d-flex justify-content-center">
                        <p class="lead">&copy;2021</p>
                    </div>
                </div>
            </div>
            <div class="col-10 g-0 flex-lg-shrink-1 right-panel">

                <!-- Budget Modal starts -->
                <div class="modal fade" id="budgetModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="budgetModalLabel">Budget details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="border-bottom: none;">
                                <p class="lead">Coming soon...!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- budget modal ends -->

                <div class="container">
                    <h5 class="h5 text-danger">Feel Good Fund</h5>
                    <p class="lead">
                        The Redgate Feel Good Fund is dedicated to providing fun stuff like team days out. Our Cambridge
                        office has held cheese and wine tastings, been on punt trips down the River Cam, and has an
                        annual black tie Christmas Ball.

                        Our Austin office has gone indoor skydiving at iFLY, attends local happy hours and trivia
                        nights, and has an annual holiday party.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>