<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
<section class="data-section">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="navbar page-bar">
                <p>Feel Good Fund</p>
                <p>Account Type &nbsp; ADMIN/EMPLOYEE</p>
                <div class="username">
                    <span class="profile-icon"></span>
                    <p class="name">User Name</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 g-0">
                <div class="left-panel d-flex flex-column justify-content-between">
                    <ul class="list-group menu-list">
                        <li class="list-group-item item list-group-item-action"><a href="">Dashboard</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">Budget</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">History</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">About</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">Sign out</a></li>
                    </ul>
                    <div class="copyright d-flex justify-content-center">
                        <p class="lead">&copy;2021</p>
                    </div>
                </div>
            </div>
            <div class="col-10 g-0 flex-lg-shrink-1 right-panel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8 d-flex account-and-add-button">
                                <button class="btn btn-secondary mx-2">Account</button>
                                <button class="btn btn-danger">Add</button>
                            </div>
                            <div class="col-4 d-flex">
                                <button class="btn btn-secondary flex-grow-1">SAVE</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item item"></li>
                    <li class="list-group-item item"></li>
                    <li class="list-group-item item"></li>
                    <li class="list-group-item total">
                        <p style="text-align: right"><span class="fw-bold">Total Ammount</span> <span style="border: 1px solid black; padding: 5px;">XXXX</span></p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
</body>
</html>