<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head th:include="baseLayout :: head">
    <title>LOGIN</title>
</head>
<body>
<section class="data-section">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="navbar page-bar">
                <p>Feel Good Fund</p>
                <p>Account Type &nbsp; ADMIN/EMPLOYEE</p>
                <div class="username">
                    <p class="profile-icon"></p>
                    <p class="name" th:text="${user.username}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 g-0">
                <div class="left-panel d-flex flex-column justify-content-between">
                    <ul class="list-group menu-list">
                        <li class="list-group-item item list-group-item-action"><a href="">Dashboard</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">Budget</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">History</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">About</a></li>
                        <li class="list-group-item item list-group-item-action"><a href="">
                            <form th:action="@{/logout}" method="post" class="d-flex justify-content-start">
                                <input type="submit" value="Sign out" class="btn btn-light logout-btn">
                            </form>
                        </a></li>
                    </ul>
                    <div class="copyright d-flex justify-content-center">
                        <p class="lead">&copy;2021</p>
                    </div>
                </div>
            </div>
            <div class="col-10 g-0 flex-lg-shrink-1 right-panel">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td colspan="4">
                            <div class="d-flex">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        class="btn btn-secondary" style="flex-basis: 50%">Amount
                                </button>

                                <!-- Modal starts -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Amount details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="border-bottom: none;">
                                                <p class="lead">Coming soon...!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal ends -->

                                <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-danger"
                                        style="margin-left: 3%; flex-basis: 30%">Add
                                </button>

                                <!-- Modal starts -->
                                <div class="modal fade" id="addModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addModalLabel">ADD amount</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="border-bottom: none;">
                                                <div class="container">
                                                    <div class="login-form-section">

                                                        <form method="post" th:action="@{/amount}"
                                                              th:object="${budget}">
                                                            <div class="form-floating mb-3">
                                                                <input th:field="*{amount}" type="number"
                                                                       class="form-control" id="floatingInput"
                                                                       placeholder="enter your desired amount...">
                                                                <label for="floatingInput">Amount</label>
                                                            </div>
                                                            <div class="d-flex justify-content-center">
                                                                <button class="btn btn-warning login-btn mt-3">Add
                                                                </button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal ends -->
                            </div>
                        </td>
                        <td colspan="2">
                            <!--                            <div class="d-flex justify-content-end">-->
                            <!--                                <button class="btn btn-secondary">SAVE</button>-->
                            <!--                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Username</th>
                        <th>ID</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="budget: ${budgetsData}">
                        <td th:text="${budget.date}"></td>
                        <td th:text="${budget.time}"></td>
                        <td th:text="${budget.username}"></td>
                        <td>#</td>
                        <td th:text="${budget.amount}"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="d-flex justify-content-end">
                                <p class="h5 mt-1">Total Amount <span th:text="${totalAmount}" class=""
                                                                      style="border: 1px solid black; padding: 3px 10px;">XXX</span>
                                </p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>